@model AdminAppointmentViewModel

@{
    ViewBag.Title = $"Информация относно час с номер {Model.Id} от {Model.DateTime}";
}

<h2 style="text-align: center">@ViewBag.Title</h2>

<div class="card">
  <div class="card-header">
    Родител: @Model.PatientFirstName @Model.PatientLastName
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Име на дете - @Model.ChildFirstName</li>
    <li class="list-group-item">Час: @Model.DateTime - @Model.End</li>
    <li class="list-group-item">Причина за преглед: @Model.AppointmentCauseName</li>
    <li class="list-group-item">Тел. на родител: @Model.PatientPhone</li>
    <li class="list-group-item">Оценка: @(Model.IsRated ? Model.RatingNumber : "Не е оценен")</li>
    <li class="list-group-item">Коментар: @(Model.IsRated ? Model.RatingComment : "Няма оставен коментар")</li>
  </ul>
</div>