<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Common.GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/allusers.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/chat/css/chat.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/alertifyjs/build/css/alertify.min.css" />
    <link rel="stylesheet" href="~/lib/alertifyjs/build/css/alertify.rtl.min.css" />
    <link href='~/lib/fullcallendar/main.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    @await this.RenderSectionAsync("Styles", required: false)
</head>
<body style="margin-bottom: 0">
    <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator">
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
    <audio id="notificationAudio">
        <source id="targetAudio" src="~/NotificationSound1.mp3" type="audio/mpeg">
    </audio>
    @await RenderSectionAsync("head", required: false)
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand hvr-grow" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/img/logo.jpg" class="img-responsive" style="width: 30px" alt="logo" />@Common.GlobalConstants.SystemName</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand hvr-grow" asp-area="" asp-controller="Doctor" asp-action="Profile">Професионален профил</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand hvr-grow" asp-area="" asp-controller="Offer" asp-action="All">Услуги</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand hvr-grow" asp-area="" asp-controller="Gallery" asp-action="All" asp-route-page="1">Галерия</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-5 py-5">
        <partial name="_CookieConsentPartial" />
        @RenderBody()
    </main>

    <footer class="footer bg-info" style="padding: 8px 0px;">
        <ul class="nav justify-content-center border-bottom pb-2 mb-2">
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link px-2 text-white">Начало</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-link px-2 text-white">Политика за поверителност</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Profile" asp-action="Index" class="nav-link px-2 text-white">Профил</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Offer" asp-action="All" class="nav-link px-2 text-white">Нашите услуги</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Feedback" asp-action="Send" class="nav-link px-2 text-white">Свържете се с нас</a>
            </li>
        </ul>
        <p class="text-center">&copy; 2021 - @DateTime.UtcNow.Year - @Common.GlobalConstants.SystemName</p>
    </footer>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-area="" asp-controller="Notification" asp-action="Index" class="stickyIcon float">
            <span class="fa-stack fa-3x" id="notificationCount" data-count="0">
                <i class="fa fa-circle fa-stack-2x" id="bellBackground"></i>
                <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    }

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/alertifyjs/build/alertify.min.js"></script>
    <script src='~/lib/fullcallendar/main.min.js'></script>
    <script type="text/javascript" src="~/lib/microsoft/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/notification.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/chatVoice/js/utilsRTC.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/chatVoice/js/constWebRTC.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/adapterjs/0.15.5/adapter.min.js"></script>
    @*    <script type="text/javascript" src="~/chatVoice/js/connectionHub.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
