@model ICollection<SlotViewModel>

@if (TempData.ContainsKey("Message"))
{
    <div class="alert alert-success" id="locationMessage">@TempData["Message"]</div>
}

@{
    ViewData["Title"] = "Днешните часове";
}

@section Styles{
<style type="text/css" media="print">
    body {
        visibility: hidden;
    }

    .print {
        visibility: visible;
    }
</style>
}

<div class="d-flex justify-content-between">
    <button class="btn btn-info" onclick="window.print(); return false"><i class="fas fa-print">Разпечатай</i></button>
    <a class="btn btn-info" asp-area="" asp-controller="Appointment" asp-action="TodaysAppointments">Днешни часове</a>
</div>
<h1 class="text-center print">@($"{ViewData["Title"]} - {DateTime.Now.Date.ToString(DateFormat)}")</h1>

<hr />

@if (!Model.Any())
{
    <h3 style="margin-top:2%">
        Все още нямате записани часове
    </h3>
}
else
{
    <h2>Предстоящи за днес (@Model.Count())</h2>

    <table class="display print" id="table-id" style="width:100%">
        <thead>
            <tr>
                <th>Дата и час</th>
                <th>Имена на пациент</th>
                <th>Адрес</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var slot in Model)
            {
                <tr>
                    <td>@slot.Start - @slot.End</td>
                    <td>@slot.Text</td>
                    <td>@slot.AddressCityName</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Дата и час</th>
                <th>Имена на пациент</th>
                <th>Адрес</th>
            </tr>
        </tfoot>
    </table>
}

@section Scripts{
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table-id').DataTable();
    });
</script>
}