@model AllAppointmentsViewModel

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success" id="locationMessage">@this.TempData["Message"]</div>
}

@{
    ViewData["Title"] = "Моите часове";
}

@section head{
<style type="text/css">
    body {
        background-image: url('/img/myAppointments.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
}

<div class="container jumbotron-opacity">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <hr />

    @if (!Model.Upcoming.Any() && !Model.Past.Any())
    {
        <h3 style="margin-top:2%">
            Все още нямате записани часове
        </h3>
    }

    @if (@Model.Upcoming.Any())
    {
        <h2>Предстоящи (@Model.Upcoming.Count())</h2>

        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Дата и час</th>
                    <th scope="col">Имена на пациент</th>
                    <th scope="col">Тел. номер</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Дете</th>
                    <th scope="col">Вид преглед</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model.Upcoming)
                {
                    <tr>
                        <th scope="row">@appointment.DateTime</th>
                        <td>@appointment.PatientFirstName @appointment.PatientLastName</td>
                        <td>@appointment.PatientPhone</td>
                        <td>гр. @appointment.Address.City.Name, @appointment.Address.StreetName</td>
                        <td>@appointment.ChildFirstName</td>
                        <td>@appointment.AppointmentCauseName</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (@Model.Past.Any())
    {
        <h2>Минали (@Model.Past.Count())</h2>

        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Дата и час</th>
                    <th scope="col">Имена на пациент</th>
                    <th scope="col">Тел. номер</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Дете</th>
                    <th scope="col">Вид преглед</th>
                    <th scope="col">Оценка</th>
                    <th scope="col">Коментар</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model.Past)
                {
                    <tr>
                        <th scope="row">@appointment.DateTime</th>
                        <td>@appointment.PatientFirstName @appointment.PatientLastName</td>
                        <td>@appointment.PatientPhone</td>
                        <td>гр. @appointment.Address.City.Name, @appointment.Address.StreetName</td>
                        <td>@appointment.ChildFirstName</td>
                        <td>@appointment.AppointmentCauseName</td>
                        <td>
                            @if (appointment.Rating != null)
                            {
                                <div class="col-6 starrating2 d-flex justify-content-center flex-row-reverse">
                                    @for (var i = 1; i <= @appointment.Rating; i++)
                                    {
                                        <i id="star@i"></i>
                                        <label for="star@i"></label>
                                    }
                                </div>

                                <a class="btn btn-primary @(appointment.IsConfirmed ? string.Empty : "visible")"
                       asp-controller="Rating" asp-action="Approve" asp-route-id="@appointment.Id">Одобри</a>

                                <a class="btn btn-danger @(appointment.IsConfirmed ? string.Empty : "visible")"
                       asp-controller="Rating" asp-action="Delete" asp-route-id="@appointment.Id"
                       data-toggle="modal" data-target="#modalDelete">Изтрий</a>
                            }

                            @if (appointment.Rating == null)
                            {
                                <span>Няма оценка</span>
                            }
                        </td>
                        <td>
                            @(appointment.RatingComment ?? "")
                        </td>
                    </tr>

                    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalDeleteLabel">Потвърдете изтриването</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Потвърждавате ли изтриването?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                                    <a asp-controller="Rating" asp-action="Delete" asp-route-id="@appointment.Id" class="btn btn-danger">Изтрий</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>
    }
</div>

@section Scripts{
    <script type="text/javascript">
        $('modalDelete').modal('')
    </script>
}