@model AllAppointmentsViewModel

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success" id="locationMessage">@this.TempData["Message"]</div>
}

@{
    ViewData["Title"] = "Моите часове";
}

@section head{
<style type="text/css">
    body {
        background-image: url('/img/myAppointments.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
}

<div class="container jumbotron-opacity">
    <h1 class="text-center">@ViewData["Title"]</h1>

    <hr />

    @if (!Model.Upcoming.Any() && !Model.Past.Any())
    {

        <h3 style="margin-top:2%">
            Все още нямате записани часове
        </h3>

        <div class="row">
            <div class="col-lg-4 ml-lg-5">
                <a class="btn btn-info hvr-grow" asp-area="" asp-controller="Appointment" asp-action="MakePatientAppointment">
                    Запишете си час
                </a>
            </div>
        </div>
    }

    @if (@Model.Upcoming.Any())
    {
        <h2>Предстоящи (@Model.Upcoming.Count())</h2>

        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Дата и час</th>
                    <th scope="col">Доктор</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Дете</th>
                    <th scope="col">Вид преглед</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model.Upcoming)
                {
                    <tr>
                        <th scope="row">@appointment.DateTime</th>
                        <td><a asp-area="" asp-controller="Doctor" asp-action="Profile">@appointment.DoctorName</a></td>
                        <td>гр. @appointment.Address.City.Name, @appointment.Address.StreetName</td>
                        <td>@appointment.ChildFirstName</td>
                        <td>@appointment.AppointmentCauseName</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (@Model.Past.Any())
    {
        <h2>Минали (@Model.Past.Count())</h2>

        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Дата и час</th>
                    <th scope="col">Доктор</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Дете</th>
                    <th scope="col">Вид преглед</th>
                    <th scope="col">Оцени</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model.Past)
                {
                    <tr>
                        <th scope="row">@appointment.DateTime</th>
                        <td><a asp-area="" asp-controller="Doctor" asp-action="Profile">@appointment.DoctorName</a></td>
                        <td>гр. @appointment.Address.City.Name, @appointment.Address.StreetName</td>
                        <td>@appointment.ChildFirstName</td>
                        <td>@appointment.AppointmentCauseName</td>
                        <td>
                            <a class="btn btn-outline-info btn-sm hvr-grow 
                            @(appointment.IsRated ? "disabled" : string.Empty)"
                            asp-area="" asp-controller="Rating" asp-action="RateAppointment" 
                            asp-route-appointmentId="@appointment.Id">
                                @(appointment.IsRated ? "Оценено" : "Оцени")
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>