@model ICollection<OfferViewModel>

@{
    ViewBag.Title = "Всички предлагани услуги";
}

@if (TempData.ContainsKey("Message"))
{
    <div class="alert alert-danger">@TempData["Message"]</div>
}

<div class="card-header">
    <h3 class="card-title">@ViewBag.Title (@Model.Count())</h3>
</div>
<table id="table-id" style="width:100%">
    <thead>
        <tr>
            <th>Име</th>
            <th>Цена</th>
            <th>Възможни действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model)
        {
            <tr>
                <td>@offer.Name</td>
                <td>@offer.Price</td>
                <td>
                    <a asp-area="Administration" asp-controller="Offer"
                   asp-action="Add"
                   class="btn btn-primary">Добави</a>
                    <a asp-area="Administration" asp-controller="Offer"
                   asp-action="Edit"
                   asp-route-id="@offer.Id"
                   class="btn btn-warning">Редактирай</a>
                    <a asp-area="Administration" 
                    asp-controller="Offer" 
                    asp-action="Delete" 
                    asp-route-id="@offer.Id"
                   data-toggle="modal" data-target="#modalDelete" class="btn btn-danger">Изтрий</a>

                    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalDeleteLabel">Потвърди изтриването</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Потвърждавате ли промените?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                                    <a asp-area="Administration" asp-controller="Offer" asp-action="Delete" asp-route-id="@offer.Id" class="btn btn-danger">Изтрий</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Име</th>
            <th>Цена</th>
            <th>Възможни действия</th>
        </tr>
    </tfoot>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table-id').Neonatology.DataTable();
        });
    </script>
}