@model IEnumerable<ChatConversationsViewModel>
<div class="container col-6 row">
    @if (Model.Any())
    {
        <div class="card-deck">
            @foreach (var conversation in Model)
            {
                <div class="card">
                    <img class="card-img-top" src="~/img/NoAvatarProfileImage.png" alt="Avatar">
                    <div class="card-body">
                   <a asp-controller="Chat"
                        asp-action="WithUser"
                        asp-route-username="@conversation.UserName"
                        asp-route-group="@conversation.GroupName">
                            <h5 class="card-title">Разговор с: @conversation.FullName</h5>
                        </a>
                        <p class="card-text">Последно съобщение: @conversation.LastMessage</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Последна активност: @conversation.LastMessageActivity</small>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center align-content-center">
            <p>
                Нямате съобщения
            </p>
        </div>
    }
</div>