@model OfferViewModel

<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Дата: @DateTime.Now.ToString("dd.MM.yyyy HH:mm")</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Информация за поръчка</h1>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Услуга</th>
                            <th>#</th>
                            <th class="text-center">Цена (лв.)</th>
                            <th class="text-center">Крайна цена (лв.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9"><h4><em>@Model.Name</em></h4></td>
                            <td class="col-md-1" style="text-align: center"> @Model.Id </td>
                            <td class="col-md-1 text-center">@Model.Price</td>
                            <td class="col-md-1 text-center">@Model.Price</td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Сума за плащане: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>@Model.Price лв.</strong></h4></td>
                        </tr>
                    </tbody>
                </table>
                <form asp-area="" asp-controller="Checkout" asp-action="CreateCheckoutSession" method="POST">
                    <button type="submit" class="btn btn-success btn-lg btn-block">
                        Към плащане <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>