@model IndexViewModel

@{
    ViewData["Title"] = "Начало";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="far fa-calendar-check"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Брой записани часове</span>
                <span class="info-box-number">
                    @Model.TotalAppointmentsCount
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Брой оценки</span>
                <span class="info-box-number">@Model.TotalRatingsCount</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Всички потребители</span>
                <span class="info-box-number">@Model.TotalPatientsCount</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Нови регистрации</span>
                <span class="info-box-number">@Model.LatestPatientsRegisterCount</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

@if (!Model.AllAppointments.Any())
{
    <h3 style="margin-top:2%">
        Все още няма записани часове
    </h3>
}
else
{
    <h2>Всички часове (@Model.AllAppointments.Count())</h2>

    <table class="display print" id="table-id" style="width:100%">
        <thead>
            <tr>
                <th>Дата и час</th>
                <th>Имена на пациент</th>
                <th>Телефон на пациент</th>
                <th>Адрес</th>
                <th>Дете</th>
                <th>Вид преглед</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model.AllAppointments)
            {
                <tr>
                    <td>@appointment.DateTime</td>
                    <td>@appointment.PatientFirstName @appointment.PatientLastName</td>
                    <td>@appointment.PatientPhone</td>
                    <td>гр. @appointment.Address</td>
                    <td>@appointment.ChildFirstName</td>
                    <td>@appointment.AppointmentCauseName</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Дата и час</th>
                <th>Имена на пациент</th>
                <th>Телефон на пациент</th>
                <th>Адрес</th>
                <th>Дете</th>
                <th>Вид преглед</th>
            </tr>
        </tfoot>
    </table>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#table-id').DataTable();
        });
    </script>
}