@model ProfileViewModel

@{
    ViewBag.Title = "Моят профил";
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img id="profilePic" class="img-fluid img-thumbnail" src="@Model.UserImageUrl">
                <span class="font-weight-bold">@Model.FirstName</span>
                <span class="text-black-50">@Model.UserEmail</span>
                <span> 
                </span>
                </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="text-right">@ViewBag.Title</h1>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6"><label class="labels">Име</label><input type="text" class="form-control" value="@Model.FirstName" disabled></div>
                    <div class="col-md-6"><label class="labels">Фамилия</label><input type="text" class="form-control" value="@Model.LastName" disabled></div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12"><label class="labels">Телефон</label><input type="text" class="form-control" value="@Model.Phone" disabled></div>
                    <div class="col-md-12"><label class="labels">Град</label><input type="text" class="form-control" value="@(Model.CityName != null ? @Model.CityName : "Не е посочено")" disabled></div>
                    <div class="col-md-12"><label class="labels">И-мейл</label><input type="text" class="form-control" value="@(Model.UserEmail != null ? @Model.UserEmail : "Не е посочено")" disabled></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <a class="col-md-12 btn btn-warning hvr-grow" 
                asp-area="" 
                asp-controller="Profile" 
                asp-action="Edit" 
                asp-route-id="@Model.Id">Промени профил</a> <br>
                <a class="col-md-12 btn btn-primary hvr-grow" 
                asp-area="Identity"
                asp-page="/Account/Manage/PersonalData">Лични данни</a>
                <a class="col-md-12 btn btn-secondary hvr-grow" 
                asp-area="" 
                asp-controller="Feedback" 
                asp-action="MyFeedbacks" 
                asp-route-id="@Model.UserEmail">Моите обратни връзки</a>
            </div>
        </div>
    </div>
</div>