@using ViewModels.Slot
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model SlotEditModel

@{
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
    var userIsDoctor = this.User.IsInRole(DoctorConstants.DoctorRoleName);

    ViewData["Title"] = "Календар";
}

@section head{

<style type="text/css">
    body {
        background-image: url('/img/edit.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
}

<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="container pb-4 mb-4">
    <div class="pb-4 mb-4" id="calendar"></div>
</div>

<div class="modal" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><span id="eventTitle"></span></h2>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
                <label class="my-1 mr-2">Редактирай час</label>
                <select asp-for="Status" id="hourType" class="custom-select">
                    <option value="Свободен" selected>Свободен</option>
                    <option value="Зает">Зает</option>
                </select>
                <input asp-for="Text" class="form-control" id="textId" placeholder="Зает поради..." />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger hvr-grow" data-dismiss="modal">Затвори</button>
                <button id="saveBtn" class="btn btn-primary hvr-grow">Запази</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="doctorModal" method='post' tabindex="-1" role="dialog">
    <div class="container-fluid">
        <div class="modal-dialog" role="document">
            <form class="modal-content" id="slotsForm">
                <div class="modal-header">
                    <h5 asp-for="Date" id="doctorTitle" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Работно време</h6>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label class="my-1 mr-2">Начален час</label>
                                <select id="start" class="custom-select" name="startHour">
                                    <option selected>Избери час</option>
                                    <option value="08:00">08:00</option>
                                    <option value="08:30">08:30</option>
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                    <option value="19:30">19:30</option>
                                    <option value="20:00">20:00</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="my-1 mr-2">Краен час</label>
                                <select id="end" class="custom-select" name="endHour">
                                    <option selected>Избери час</option>
                                    <option value="08:00">08:00</option>
                                    <option value="08:30">08:30</option>
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                    <option value="19:30">19:30</option>
                                    <option value="20:00">20:00</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="my-1 mr-2">По</label>
                                <select id="minutes" class="custom-select" name="interval">
                                    <option selected>Избери минути</option>
                                    <option value="10">10 минути</option>
                                    <option value="15">15 минути</option>
                                    <option value="20">20 минути</option>
                                    <option value="25">25 минути</option>
                                    <option value="30">30 минути</option>
                                    <option value="35">35 минути</option>
                                    <option value="40">40 минути</option>
                                    <option value="45">45 минути</option>
                                    <option value="50">50 минути</option>
                                    <option value="55">55 минути</option>
                                    <option value="60">60 минути</option>
                                    <option value="90">90 минути</option>
                                    <option value="120">120 минути</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="my-1 mr-2">Град</label>
                                    <select asp-for="@Model.AddressId" id="address-id" name="address-id" class="form-control">
                                        @foreach (var city in Model.Cities)
                                        {
                                            <option value="@city.Id">@city.City.Name</option>
                                        }
                                        <span asp-validation-for="@Model.AddressId" class="small text-danger"></span>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger hvr-grow" data-dismiss="modal">Затвори</button>
                    <button id="save" type="submit" class="btn btn-primary hvr-grow">Запази</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/doctorCalendar.js" asp-append-version="true"></script>
}