@model PrivateChatViewModel

@section Styles{
<link rel="stylesheet" href="~/chat/css/chat.css" />
}

@{
    ViewData["Title"] = $"Чат с {Model.ReceiverFullName}";
}

<div class="container p-0">

    <h1 class="h3 mb-3 text-center">@ViewData["Title"]</h1>

    <div class="card">
        <div class="row g-0">
            <div class="container-fluid">
                <div class="py-2 px-4 border-bottom d-none d-lg-block">
                    <h3 id="group-name" style="text-align:center" hidden>@Model.GroupName</h3>
                    <div class="d-flex align-items-center py-1">
                        <div class="position-relative">
                            <img src="~/img/NoAvatarProfileImage.png" class="rounded-circle mr-1 img-sm" alt="avatar">
                        </div>
                        <div class="flex-grow-1 pl-3">
                            <strong id="receiver-fullname">@Model.ReceiverFullName</strong>
                            <h3 id="receiver" style="text-align:center" hidden>@Model.ReceiverEmail</h3>
                            <h6 class="m-b-0" id="sender-fullname" hidden>@Model.SenderFullName</h6>
                            <h3 id="sender" style="text-align:center" hidden>@Model.SenderEmail</h3>
                        </div>
                        <div>
                            <label class="btn btn-outline-secondary" for="upload-image" style="cursor:pointer" id="image-button">
                                <i class="fa fa-camera"></i>
                            </label>
                            <input accept=".jpg, .jpeg, .png" type="file" multiple id="upload-image" class="btn btn-outline-secondary">
                            <label class="btn btn-outline-primary" for="upload-file" style="cursor:pointer" id="file-button">
                                <i class="fa fa-paperclip"></i>
                            </label>
                            <input type="file" multiple id="upload-file" accept=".zip, .rar, .docx, .xlsx, application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf" >
                        </div>
                    </div>
                </div>

                <div class="position-relative">
                    <div onclick="scrollChatToBottom()" class="back-to-bottom-chat-body" id="scrollBottomButton">
                        <i class="fas fa-chevron-circle-down"></i>
                    </div>
                    <div class="chat-messages p-4" id="chat-body">
                        <ul class="list-unstyled media-block" id="message-list">
                            @if (Model.ChatMessages != null && Model.ChatMessages.Count > 0)
                            {
                                @foreach (var message in Model.ChatMessages)
                                {
                                    @if (message.Receiver.Id == Model.ToUser.Id && Model.FromUser.Id != message.Sender.Id)
                                    {
                                        <li class="chat-message-left pb-4" id="@message.Id">
                                            <div>
                                                <img src="~/img/NoAvatarProfileImage.png" class="rounded-circle mr-1 img-sm" alt="Avatar">
                                                <div class="text-muted small text-nowrap mt-2">@message.CreatedOn</div>
                                            </div>
                                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                                <div class="font-weight-bold mb-1">@Model.ReceiverFullName</div>
                                                @Html.Raw(message.Content)
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="chat-message-right pb-4" id="@message.Id">
                                            <div>
                                                <img src="~/img/NoAvatarProfileImage.png" class="rounded-circle mr-1 img-sm" alt="Avatar">
                                                <div class="text-muted small text-nowrap mt-2">@message.CreatedOn</div>
                                            </div>
                                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                                <div class="font-weight-bold mb-1">@Model.SenderFullName</div>
                                                @Html.Raw(message.Content)
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                        <input id="messagesSkipCount" type="hidden" value="@this.Model.ChatMessages.Count" />
                    </div>
                </div>
                <div class="flex-grow-0 py-3 px-4 border-top">
                    <div class="input-group">
                        <input type="text" class="form-control" id="chat-text" placeholder="Напиши съобщение..">
                        <button class="btn btn-primary hvr-grow" id="send-button">Изпрати</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modalChatImage">
    <div class="imageModalContent">
        <i onclick="closeChatZoomedImage()" class="fas fa-window-close closeImage"></i>
    </div>
    <img id="image-content" class="imageModalContent" src="">
    <div class="myCaption"></div>
</div>

@section Scripts{
<script type="text/javascript">
    'use strict';

    var connection = new signalR.HubConnectionBuilder()
    .withUrl('/chatHub')
    .build();

    const sendButton = document.getElementById('send-button');
    //Disable send button until connection is established
    sendButton.disabled = true;

    connection.on('ReceiveMessage', function (user, message, userFullName, image = '') {
        var msg = message;
        let dateTime = new Date();
        let formattedDate = dateTime.toLocaleString('bg-BG');

        var li = document.createElement('li');

        li.classList.add('chat-message-left', 'pb-4');
        li.innerHTML = `<div>
                               <img src="~/img/NoAvatarProfileImage.png" class="rounded-circle mr-1 img-sm" alt="Avatar">
                               <div class="text-muted small text-nowrap mt-2">${formattedDate}</div>
                         </div>
                         <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                               <div class="font-weight-bold mb-1">${user}</div>
                               ${msg}
                        </div>`;

        document.getElementById('message-list').appendChild(li);

        updateScroll();
        let oldCount = parseInt(document.getElementById('messagesSkipCount').value)
        document.getElementById('messagesSkipCount').value = oldCount + 1;
    });

    connection.on('SendMessage', function (user, message, userFullName, image = '') {
        var msg = message;
        let dateTime = new Date()
        let formattedDate = dateTime.toLocaleString('bg-BG');

        var li = document.createElement("li");

        li.classList.add('chat-message-right', 'pb-4');
        li.innerHTML = `<div>
                               <img src="~/img/NoAvatarProfileImage.png" class="rounded-circle mr-1 img-sm" alt="Avatar">
                               <div class="text-muted small text-nowrap mt-2">${formattedDate}</div>
                        </div>
                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                               <div class="font-weight-bold mb-1">${user}</div>
                               ${msg}
                        </div>`;

        document.getElementById('message-list').appendChild(li);

        updateScroll();
        let oldCount = parseInt(document.getElementById('messagesSkipCount').value)
        document.getElementById('messagesSkipCount').value = oldCount + 1;
    });

    connection.start().then(function () {
        sendButton.disabled = false;
        var toUser = document.getElementById('receiver').textContent;
        var fromUser = document.getElementById('sender').textContent;
        var senderFullName = document.getElementById('sender-fullname').textContent;
        var group = document.getElementById('group-name').textContent;

        connection.invoke('AddToGroup', `${group}`, toUser, fromUser, senderFullName).catch(function (err) {
            return console.error(err.message.toString());
        });

        connection.invoke('UpdateMessageNotifications', toUser, fromUser).catch(function (err) {
            return console.error(err.toString());
        });
    }).catch(function (err) {
        return console.error(err.toString());
    });

    sendButton.addEventListener('click', function (event) {
        let toUser = document.getElementById('receiver').textContent;
        let fromUser = document.getElementById('sender').textContent;
        let senderFullName = document.getElementById('sender-fullname').textContent;
        let message = document.getElementById('chat-text').value;
        let group = document.getElementById('group-name').textContent;
        let images = document.getElementById('upload-image').files;
        let files = document.getElementById('upload-file').files;
        let data = new FormData();

        for (var i = 0; i < images.length; i++) {
            data.append('files', images[i]);
        }

        for (var i = 0; i < files.length; i++) {
            data.append('files', files[i]);
        }

        if (message && images.length == 0 && files.length == 0) {
            connection.invoke('SendMessage', fromUser, toUser, message, group, senderFullName).catch(function (err) {
                return console.error(err.toString());
            });

            connection.invoke('ReceiveMessage', fromUser, message, group, senderFullName).catch(function (err) {
                return console.error(err.toString());
            });

            document.getElementById('chat-text').value = '';
        } else {
            data.append('toUsername', toUser);
            data.append('fromUsername', fromUser);
            data.append('group', group);
            data.append('message', message);

            if (images.length > 0 || files.length > 0) {

                $.ajax({
                    url: `/Chat/With/${toUser}/Group/${group}/SendFiles`,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if (result.haveImages) {
                            document.getElementById('upload-image').disabled = false;
                        }
                        console.log(result);
                        console.log(result.toString());

                        if (result.haveFiles) {
                            document.getElementById('upload-file').disabled = false;
                        }
                    },
                    error: function (err) {
                        console.log(err.statusText);
                    }
                });

                document.getElementById('upload-image').value = '';
                document.getElementById('upload-file').value = '';
            }
        }

        document.getElementById('chat-text').innerHTML = '';
        $('#chat-text').css('padding-left', '10px');
        event.preventDefault();
    });

    function updateInputScroller() {
        let scroller = document.getElementById('chat-text');
        scroller.scrollTop = scroller.scrollHeight;
    }

    function updateScroll() {
        if (document.getElementById('scrollBottomButton').style.visibility != "visible") {
            let element = document.getElementById('chat-body');
            element.scrollTop = element.scrollHeight;
        }
    }

    function zoomChatImage(imageUrl) {
        document.querySelector(".modalChatImage").style.display = "block";
        document.querySelector("#image-content").src = imageUrl;
    }

    function closeChatZoomedImage() {
        document.querySelector(".modalChatImage").style.display = "none";
    }
</script>

<script>
        $(document).ready(function () {
        $('#chat-body').scroll(function () {
            let scrollHeight = document.getElementById('chat-body').scrollHeight;
            let scrollDistanceToTop = document.getElementById('chat-body').scrollTop;
            let chatBoyHeight = document.getElementById('chat-body').offsetHeight;
            let distanceToBottom = scrollHeight - scrollDistanceToTop - chatBoyHeight;

            if (distanceToBottom > 400) {
                document.getElementById('scrollBottomButton').style.visibility = 'visible';
            } else if (distanceToBottom >= 0 && distanceToBottom <= 100) {
                document.getElementById('scrollBottomButton').style.visibility = 'hidden';
            }

            if ($('#chat-body').scrollTop() == 0) {
                let messagesSkipCount = document.getElementById('messagesSkipCount').value;
                let username = document.getElementById('receiver').textContent;
                let receiverFullname = document.getElementById('receiver-fullname').textContent;
                let senderFullname = document.getElementById('sender-fullname').textContent;
                let group = document.getElementById('group-name').textContent;

                if (messagesSkipCount && username && group) {
                    $.ajax({
                        type: 'GET',
                        url: `/Chat/With/${username}/Group/${group}/LoadMoreMessages/${messagesSkipCount}`,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: {
                            'username': username,
                            'group': group,
                            'messagesSkipCount': messagesSkipCount,
                            receiverFullname,
                            senderFullname
                        },
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (data) {
                            if (data.length > 0) {
                                let oldCount = parseInt(document.getElementById('messagesSkipCount').value)
                                document.getElementById('messagesSkipCount').value = oldCount + data.length;
                                let oldScrollHeight = document.getElementById('chat-body').scrollHeight;

                                for (var message of data) {
                                    let newMessage = document.createElement("li");
                                    newMessage.id = message.id;
                                    if (message.fromUsername == message.currentUsername) {
                                    newMessage.classList.add('chat-message-right', 'pb-4');
                                        newMessage.innerHTML += `
                                        <div>
                                            <img src="~/img/NoAvatarProfileImage.png" class="rounded-circle mr-1 img-sm" alt="Avatar">
                                            <div class="text-muted small text-nowrap mt-2">${message.sendedOn}</div>
                                        </div>
                                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                            <div class="font-weight-bold mb-1">${message.fromUsername}</div>
                                            ${message.content}
                                        </div>`;
                                    } else {
                                        newMessage.classList.add('chat-message-left', 'pb-4');
                                        newMessage.innerHTML += `
                                           <div>
                                              <img src="~/img/NoAvatarProfileImage.png" class="rounded-circle mr-1 img-sm" alt="Avatar">
                                              <div class="text-muted small text-nowrap mt-2">${message.sendedOn}</div>
                                            </div>
                                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                                <div class="font-weight-bold mb-1">${message.receiverUsername}</div>
                                                ${message.content}
                                            </div>`;
                                    }

                                    let firstMessage = document.getElementById('message-list').firstChild;
                                    document.getElementById('message-list').insertBefore(newMessage, firstMessage);
                                }

                                let scroll = document.getElementById('chat-body');
                                let newScrollTop = scroll.scrollHeight - oldScrollHeight;
                                scroll.scrollTop = newScrollTop;
                            }
                        },
                        error: function (msg) {
                            console.error(msg);
                        }
                    });
                }
            }
        });
    });

    function scrollChatToBottom() {
        $('#chat-body').animate({
            scrollTop: document.getElementById('chat-body').scrollHeight
        }, 800);
    }
</script>

@*<script type="text/javascript">
    $("#file-button i").click(function () {
        $("#upload-file").trigger('click');
    });
    const errorMsg = "Файлът е прекалено голям!";

    $('#upload-file').on('change', function () {
        const fileExtensions = ["TXT", "TEXT", "DOCX", "DOC", "PDF", "PPT", "XLS", "XLSX", "ZIP", "RAR"];
        let files = document.getElementById("upload-file").files;
        const dtFiles = new DataTransfer();
        const dtImages = new DataTransfer();

        for (let file of files) {
            let fileExtension = file.name.split('.').pop();
            if (fileExtensions.includes(fileExtension.toUpperCase())) {
                let sizeInMB = (file.size / (1024 * 1024)).toFixed(2);
                if (sizeInMB > 15) {
                    notify(errorMsg);
                    continue;
                }

                dtFiles.items.add(file);
            } else {
                let sizeInMB = (file.size / (1024 * 1024)).toFixed(2);
                if (sizeInMB > 15) {
                    notify(errorMsg);
                    continue;
                }

                dtImages.items.add(file);
            }
        }

        document.getElementById("upload-file").files = dtFiles.files;
        let filesCount = document.getElementById("upload-file").files.length;

        if (dtImages.items.length > 0) {
            transferImages(dtImages);
        }
    });

    function transferFiles(dtFiles) {
        const fileExtensions = ["TXT", "TEXT", "DOCX", "DOC", "PDF", "PPT", "XLS", "XLSX", "ZIP", "RAR"];
        let files = document.getElementById("upload-file").files;
        const dt = new DataTransfer();

        for (let file of files) {
            let fileExtension = file.name.split('.').pop();
            if (fileExtensions.includes(fileExtension.toUpperCase())) {
                dt.items.add(file);
            }
        }

        for (let file of dtFiles.files) {
            let fileExtension = file.name.split('.').pop();
            let isFileExist = [...files].some(x => x.name == file.name);
            if (fileExtensions.includes(fileExtension.toUpperCase()) && !isFileExist) {
                dt.items.add(file);
            }
        }

        document.getElementById("upload-file").files = dt.files;
        let filesCount = document.getElementById("upload-file").files.length;
    }

            function notify(msg) {
                const element = document.getElementById('errorBox');
                const output = element.querySelector('span');
                output.textContent = msg;
                element.style.display = 'block';

                setTimeout(() => element.style.display = 'none', 3000);
            }
</script>

<script type="text/javascript">
    $("#image-button i").click(function () {
        $("#upload-image").trigger('click');
    });
    const errorImgMsg = "Файлът е прекалено голям!";

    $('#upload-image').on('change', function () {
        const imageExtensions = ["JPG", "PNG", "JPEG"];
        let files = document.getElementById("upload-image").files;
        const dtImages = new DataTransfer();
        const dtFiles = new DataTransfer();

        for (let file of files) {
            let fileExtension = file.name.split('.').pop();
            if (imageExtensions.includes(fileExtension.toUpperCase())) {
                let sizeInMB = (file.size / (1024 * 1024)).toFixed(2);
                if (sizeInMB > 15) {
                    notify(errorImgMsg);
                    continue;
                }

                dtImages.items.add(file);
            } else {
                let sizeInMB = (file.size / (1024 * 1024)).toFixed(2);
                if (sizeInMB > 15) {
                    notify(errorImgMsg);
                    continue;
                }

                dtFiles.items.add(file);
            }
        }

        document.getElementById("upload-image").files = dtImages.files;
        let filesCount = document.getElementById("upload-image").files.length;

        if (dtFiles.items.length > 0) {
            transferFiles(dtFiles);
        }
    });

    function transferImages(dtImages) {
        const imageExtensions = ["JPG", "PNG", "JPEG"];
        let images = document.getElementById("upload-image").files;
        const dt = new DataTransfer();

        for (let image of images) {
            let fileExtension = image.name.split('.').pop();
            if (imageExtensions.includes(fileExtension.toUpperCase())) {
                dt.items.add(image);
            }
        }

        for (let image of dtImages.files) {
            let fileExtension = image.name.split('.').pop();
            let isFileExist = [...images].some(x => x.name == image.name);
            if (imageExtensions.includes(fileExtension.toUpperCase()) && !isFileExist) {
                dt.items.add(image);
            }
        }

        document.getElementById("upload-image").files = dt.files;
    }

        function notify(msg) {
            const element = document.getElementById('errorBox');
            const output = element.querySelector('span');
            output.textContent = msg;
            element.style.display = 'block';

            setTimeout(() => element.style.display = 'none', 3000);
        }
</script>*@
}