@model ICollection<FeedbackViewModel>

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success" id="locationMessage">@this.TempData["Message"]</div>
}

@{
    ViewData["Title"] = "Моите обратни връзки";
}

@section head{
    <style type="text/css" media="print">
    body {
        background-image: url('/img/feedback.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1600px 850px;
    }
    </style>
}

<h1 class="text-center print">ViewData["Title"]</h1>

<hr />

@if (!Model.Any())
{
    <h3 style="margin-top:2%">
        Не сте изпращали обратна връзка
    </h3>
}
else
{
    <h2>Общ брой (@Model.Count())</h2>

    <table class="display print" id="table-id" style="width:100%">
        <thead>
            <tr>
                <th>Тема</th>
                <th>Име</th>
                <th>Фамилия</th>
                <th>Имейл</th>
                <th>Дата на изпращане</th>
                <th>Състояние</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var feedback in Model)
            {
                <tr>
                    <td>@feedback.Type</td>
                    <td>@feedback.FirstName</td>
                    <td>@feedback.LastName</td>
                    <td>@feedback.Email</td>
                    <td>@feedback.CreatedOn</td>
                    <td>@(feedback.IsSolved ? "Обработен" : "Обработва се")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Тема</th>
                <th>Име</th>
                <th>Фамилия</th>
                <th>Имейл</th>
                <th>Дата на изпращане</th>
                <th>Състояние</th>
            </tr>
        </tfoot>
    </table>
}

@section Scripts{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table-id').DataTable();
        });
    </script>
}